{% extends 'layout.html.twig' %}

{% block content %}
    <section class="container presentation text-danger">
        <div class="row mt-5 presentation_div">
            <h1 class="col-12 mb-5 presentation_div_h1">Become monster</h1>
            <img src="https://media.giphy.com/media/229B5dWGaqryi0j5Lm/giphy.gif" class="col-12 presentation_div_img" alt="...">
            <h2 class="col-12 presentation_div_h2 mt-3">Bonjour Chers Wilders,</h2>
            <p class="col-12 mt-3 presentation_div_p">
                En ce mois monstrueux : réveillez le monstre qui sommeille en vous !
                Remplissez le formulaire et ne soyez pas surpris de la réponse !
            </p>
        </div>
        <section class="container formulaire text-danger">
            <h2 class="col">A vous de jouer </h2>
            <form class='row caractere_form' action="" methode="">
                <p class="col">Vous etes plutôt…</p>
                <img src="https://i.goopics.net/9m3Vw.jpg" class="col-12 form_img" alt="...">
                <div class="btn-group btn-group-toggle mx-auto mb-3 mt-3 caractere_form_div" data-toggle="buttons">
                    <label class="btn btn-secondary active" for='chair'>
                    <input type="radio" name="chair" id="chair" autocomplete="off" checked> Chair
                    </label>
                    <label class="btn btn-secondary" for='sang'>
                    <input type="radio" name="sang" id="sang" autocomplete="off"> Sang
                    </label>
                    <label class="btn btn-secondary" for='cervelle'>
                    <input type="radio" name="cervelle" id="cervelle" autocomplete="off"> Cervelle
                    </label>
                    <label class="btn btn-secondary" for='ame'>
                    <input type="radio" name="ame" id="ame" autocomplete="off"> Âme
                    </label>
                </div>
                <img src="https://i.goopics.net/lj4np.jpg" class="col-12 form_img" alt="...">
                
                <div class="btn-group btn-group-toggle mx-auto mb-3 mt-3 caractere_form_div" data-toggle="buttons">
                    <label class="btn btn-secondary active" for='hulerment'>
                    <input type="radio" name="hulerment" id="hulerment" autocomplete="off" checked> Hulerment
                    </label>
                    <label class="btn btn-secondary" for='rire'>
                    <input type="radio" name="rire" id="rire" autocomplete="off"> Rire
                    </label>
                    <label class="btn btn-secondary" for='cri'>
                    <input type="radio" name="cri" id="cri" autocomplete="off"> Cri
                    </label>
                    <label class="btn btn-secondary" for='silence'>
                    <input type="radio" name="silence" id="silence" autocomplete="off"> Silence
                    </label>
                </div>
                <img src="https://i.goopics.net/n7oGl.jpg" class="col-12 form_img" alt="...">
                
                <div class="btn-group btn-group-toggle mx-auto mb-3 mt-3 caractere_form_div" data-toggle="buttons">
                    <label class="btn btn-secondary active" for='dents'>
                    <input type="radio" name="dents" id="dents" autocomplete="off" checked> Dents
                    </label>
                    <label class="btn btn-secondary" for='Griffes'>
                    <input type="radio" name="Griffes" id="Griffes" autocomplete="off"> Griffes
                    </label>
                    <label class="btn btn-secondary" for='arme'>
                    <input type="radio" name="arme" id="arme" autocomplete="off"> Armes
                    </label>
                    <label class="btn btn-secondary" for='poings'>
                    <input type="radio" name="poings" id="poings" autocomplete="off"> Poings
                    </label>
                </div>
                <img src="https://i.pinimg.com/originals/25/bc/eb/25bceb18a769f3e253c6615b10bf0307.jpg" class="col-12 form_img" alt="...">
                
                <div class="btn-group btn-group-toggle mx-auto mb-3 mt-3 caractere_form_div" data-toggle="buttons">
                    <label class="btn btn-secondary active" for='solitaire'>
                    <input type="radio" name="solitaire" id="solitaire" autocomplete="off" checked> Solitaire
                    </label>
                    <label class="btn btn-secondary" for='duo'>
                    <input type="radio" name="duo" id="duo" autocomplete="off"> Duo
                    </label>
                    <label class="btn btn-secondary" for='groupe'>
                    <input type="radio" name="groupe" id="groupe" autocomplete="off"> Groupe
                    </label>
                    <label class="btn btn-secondary" for='peuple'>
                    <input type="radio" name="peuple" id="peuple" autocomplete="off"> Peuple
                    </label>
                </div>
                <img src="https://i.goopics.net/mq2LO.png" class="col-12 form_img" alt="...">
                
                <div class="btn-group btn-group-toggle mx-auto mb-3 mt-3 caractere_form_div" data-toggle="buttons">
                    <label class="btn btn-secondary active" for='pied'>
                    <input type="radio" name="pied" id="pied" autocomplete="off" checked> A pied
                    </label>
                    <label class="btn btn-secondary" for='vole'>
                    <input type="radio" name="vole" id="vole" autocomplete="off"> vole
                    </label>
                    <label class="btn btn-secondary" for='teleportation'>
                    <input type="radio" name="teleportation" id="teleportation" autocomplete="off">  Téléportation
                    </label>
                    <label class="btn btn-secondary" for='planer'>
                    <input type="radio" name="planer" id="planer" autocomplete="off"> Planer
                    </label>
                </div>
                 
                 
            </form>
            <div class='row button_div'>
            <button type="button" class="btn btn-dark mx-auto mb-3">Envoyer !</button>
            </div>
        </section>
{% endblock %}
